@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


* {
    font-family: 'Roboto', sans-serif;
}
.pageFormat{
    padding: 20px;

}
.view{

    display: flex;
    flex-direction: column;
}
.view > * {
    flex: 1 0 auto;
}